.document-downloads-wrapper{
	background: #fff;
	width:95%!important;
	margin-bottom:2%;
	margin-right:1%;
	padding:2%;
	box-shadow: 0px 0px 12px 1px #E1DFD1;
	-webkit-box-shadow: #E1DFD1 0px 0px 12px 1px;	
	-moz-box-shadow: #E1DFD1 0px 0px 12px 1px;
}
.document-downloads-wrapper .header{
	background: #ced6e4;
	color:#EE413A;
	text-align: left;
	padding:2%;
	font-size: 100%;
	word-wrap:break-word;
}
.document-downloads-wrapper .content{
	background: #e7ebf2; 
	color:#fff;
	padding:2%;
	font-size: 80%;
	word-wrap:break-word;
}
.document-downloads-wrapper .content .document img{
	vertical-align: middle;
	margin: 2px 1px 0px 2px;
	padding:0.20%;
} 

.document-downloads-wrapper .content .document a, .document-downloads-wrapper .content .document a:visited{
	color:#717481;
	font-size: 90%;
	text-align: left;
}
.document-downloads-wrapper .content .more-link a, .document-downloads-wrapper .content .more-link a:visited{
	color:#676662;
	font-size: 90%;
	text-align: right;
	float: right;
}



.documents-list .list-item{
	padding:5px;
	border-bottom:0.1em #E1DFD1 solid;
}
.documents-list .list-item .numbering-col{
	float:left!important;
	padding:0.5%!important;
	width:2%!important;
}

.documents-list .list-item .title-col{
	float:left!important;
	padding:0.5%!important;
	width:38%!important;
}

.documents-list .list-item .type-col{
	float:left!important;
	padding:0.5%!important;
	width:20%!important;
}


.documents-list .list-item .actions-col{
	float:left!important;
	padding:0.5%!important;
	width:25%!important;
}
.document-download-button{
	background: #000000 !important;color:#fff !important;
}

.documents-list .list-item.header{
	color:#E53B2D;
	font-weight:bolder;
}

